[Desktop Entry]
Encoding=UTF-8
Name=Cleverbot
Comment=Cleverbot P2P Cryptocurrency
Comment[fr]=Cleverbot, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cleverbot, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/cleverbot-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/cleverbot;
Categories=Office;
